extends ../_layout

block variables
    - var title = '幕張市正史';

block content
    header
        img(src="../img/makuhari/header.jpg" alt="" width="2000" height="1500")
        .container
            .header-title
                h1.text-center
                    | 幕張市正史
                    small Makuhari City Authentic History
                p.text-center 「生態系へのジャックイン」千の葉の芸術祭 @ Jul-Aug 2021
            


    article.entry-content
        section
            .container
                h2
                    | 目的と背景
                    small Purpose and Background

                p.text-right 文・高橋文樹
                   
                p
                    | 2021年に開催されたMETACITY主催<a href="https://makuhari.city/">多層都市「幕張市」</a>で開催された
                    | SFワークショップの成果として、存在しない幕張市を舞台にしたSF作品が執筆された。

                ol
                    li
                        a(href="https://makuhari.city/sf/44/") 高橋文樹「通意された犯罪の記録」
                    li
                        a(href="https://makuhari.city/sf/46/") 名倉編「幕張コンヨオ」
                    li
                        a(href="https://makuhari.city/sf/72/") 小川哲「幕張市市民証」
                p
                    | 本展示ではこれに耐久性のある形態を与え、<strong>フィクションが歴史となる未来</strong>を目指す試みである。
                    | たとえば1,000年後、千葉市という自治体が消滅した場合を考えて欲しい。
                    | そのときにこれらの作品を偶然見つけた人は「幕張市という都市があったのか」と思うことだろう。
         
        section
            .container
                h2
                    | 技術
                    small Technology
                
                p
                  | 展示されている<strong>スレート</strong>はインクジェットプリンタを利用して印刷された紙をレジンで固めたモノである。
                  | 在絵量はいずれもホームセンターや家電量販店で注文できる<em>陳腐なもの</em>で、これは再現可能性を優先している。
            
                h3 成形枠の作成
                p
                    | レジンを流し込むための枠は幅35cm×高さ25cm程度のものを作成する。サイズはもっともありふれたサイズであるA4用紙（296mm×218mm）から算出。
                    | 木枠でもよいが、木枠は固まったレジンから剥がすのが困難なのでプラスチック板（PP）などのレジンと癒合しない材料が望ましい。

                figure
                    img(loading="lazy" src="../img/makuhari/plastic.jpg" alt="プラスティックを下敷きにしたもの" width="2000" heigh="1500")
                    figcaption プラスチック板を下敷きにしたもの。
                
                p
                    | 小説をスレートにする場合、なにせ大量のページが必要になることがほとんどである。
                    | したがって、一度にたくさんの紙を固めることができるよう、大きな枠を作る必要がある。
                    | 今回は3編の掌編小説をスレートにするため、9枠を用意した。

                h3 流し込み

                p
                    | 続いて、レジンの流し込みである。２液混合形のレジンは混ぜ合わせたときの化学反応で固まる。
                    | この化学反応によって発熱するため、大量のレジンを流し込むと高熱によって枠の破損やレジン自体のひび割れにつながる。

                figure
                    img(loading="lazy" src="../img/makuhari/failure-01.jpg" alt="失敗例" width="2000" height="1500")
                    figcaption 1cm程度のレジンを一気に流し込んだ場合。

                figure
                    img(loading="lazy" src="../img/makuhari/failure-02.jpg" alt="失敗例" width="1500" height="2000")
                    figcaption 木枠の底面が熱でたわんでしまっている。

                p
                    | したがって、レジンを流し込む場合は少量ずつ流し込み、固まるのを待ってから次のレジンを追加する。
                    | 分量にもよるが、およそ2時間程度でレジンの発熱はおさまる。
                    | この「少しずつレジンを入れる作業」に時間がかかる（1ページ最低6時間）ため、
                    | 長編小説などをスレートにする場合は<strong>総ページ数÷枠の数×6時間</strong>で時間を計算する必要がある。

                h3 印刷物の封入

                p
                    | 底面が完成したら印刷した髪を起き、再びレジンを流し込む。
                    | このとき、紙の裏に空気が入り込まないよう、レジンを押し出しながらがこのましい。
                    | 浸透圧か何かの関係なのか、インクジェットの文字が滲んでしまうことなどはないようだ。
                    | また、レジンをつけるといちど髪に染み込んで透明になるが、時間がたつと再び神は白く濁る。
                    | よって、可読性が損なわれることはない。

                figure
                    img(loading="lazy" src="../img/makuhari/transparent.jpg" alt="一度透明になってから白く濁る" width="1500" height="2000")
                    figcaption この画像の上部では紙が助けて裏写りしているが、時間がたつと下部のように白く濁る。

                h3 後処理

                p
                    | 本展示では閲覧者が手に取ってみるため、やすりでのバリ取りを行った。
                    | しかし、本来の目的である「1,000年後の人に読んでもらう」ためにはそうした細かな後処理は不要である。
                    | 本来のレジンでプロダクトを作る際の代表的な処理をあげておくが、スレートの作成としては不要である。

                ul
                    li レジンの色および着色。本展示の飴色レジンは安く、クリアーな透明レジンは割高である。顔料での着色もしない。
                    li 研磨。紙やすり（100〜1000番）やコンポジットによる研磨をすることで美しくなるが、本展示の目的には不要なので行っていない。
                    li
                        | 異物の除去。異物が入らないようにするのはレジン作品なら当たり前だが、本展示では重要ではないので行っていない。
                        | 実際、私の髪の毛が混入してしまっているが、これだって後世になったらクローンとして復活してもらえる材料になるかもしれないのだ。

        section
            .container

                h2
                    | 保存
                    small Preservation
                
                p
                    | 本展示の目的を達成するには、最終的になんらかの形で保存すること自体が目的である。
                    | 単にレジンに封入しただけでは存続は期待できない。

                h3 耐久度テスト

                p
                    | 本展示の前にプロトタイプとして作成した索引がある。

                figure
                    img(src="../img/makuhari/proto-01.jpg" alt="プロトタイプ" width="2000" height="1500")
                    figcaption 木枠＆透明レジンでの作成。1枚ならこれでも問題なかった。

                p こうして作成したスレートを庭に放置し、一ヶ月以上雨ざらしにしたのがこちらである。

                figure
                    img(src="../img/makuhari/proto-02.jpg" alt="庭に放置された様子" width="2000" height="1500")
                    figcaption  可読性は保たれている。
                
                p
                    | 雨水や埃、そして太陽光などでも中のインクジェットの文字が消えることはなかった。
                    | したがって、外側のレジンが壊れさえしなければ、紙に印刷した文字が消えることもないと考えられる。

                h3 保管方法

                p
                    | 本展示終了後、長い1,000年を超すためにはどこかに保管しておく必要がある。
                    | レジンの耐久性は紙よりはマシだが、長い年月のうちに圧力などによって粉砕される可能性が高い。
                    | たとえば歯の詰め物にもレジンは使われているが、耐用年数は3〜5年と見積もられている。
                
                p
                    | 現在のところ考えられるのは<strong>「埋める」</strong>という方法である。
                    | 候補は次の通り。

                ol
                    li 自宅の庭
                    li 公共施設・公園
                    li 海・山など人の住まないところ
            
                p
                    | １の自宅に関しては、この家に私の所有権があるのはせいぜい数十年といったところなので、
                    | 長期的な信頼性はない。
                    | 2については同意を得られない場合、ただの不法投棄になるので同意をえる必要がある。
                    | タイムカプセルとして許可をもらうのが手っ取り早いだろう。
                    | 3についてはこちらも不法投棄になってしまうので、2と同様の手続きが必要である。

                h3 多元的保管

                p
                    | インターネットはもともと軍事的な理由から作られた技術である。
                    | 拠点が一つしかない場合、そこを叩かれたら終わりだが、
                    | 拠点が複数（またはコピー可能）な場合はその限りではない。
                
                p
                    | 本展示のスレートもまた、私が作成したもの1つだと後世に残る可能性は低いが、
                    | これを見た<em>あなた</em>が共犯者となってくれれば、残る可能性は高い。
                    | ぜひ以下のリンクからPDFをダウンロードし、保管先の多元化に協力していただきたい。

                ol
                    li 印刷する
                    li レジンで固める
                    li まとめてどこかに埋める

                p.text-center
                    a.btn.btn-lg.btn-outline-primary(hre="https://www.dropbox.com/sh/hxg1dy4sh5u6z66/AAA0nXr8p7fwtFkVH92Q3UEga?dl=0") PDFをダウンロード