extends ../_layout

block content
    .front
        .container
            header
                h1.text-center
                    | 幕張市正史
                    small Makuhari City Authentic History
                p.text-muted 「生態系へのジャックイン」千の葉の芸術祭 @ Jul-Aug 2021

            article.entry-content
                h2
                    | 目的と背景
                    small Purpose and Background
                    
                p W.I.P
                
                h2
                    | 技術
                    small Technology
                    
                p W.I.P
                
                h3 固定化
                p W.I.P
                
                h3 保存
                p W.I.P
                    
                