.footer{

  background-color: $primary;
  color: $white;
  padding: $section-gap 0;

  &-copy{
    font-family: $font-family-monospace;
    font-weight: $font-weight-thin;
  }

  a{
    transition: color .3s ease-in-out;
    &:link, &:visited{
      text-decoration: underline;
      color: $white;
    }
    &:hover, &:active{
      text-decoration: none;
      color: $warning;
    }
  }

}
