%inline-link{
  transition: color .3s linear;
  &:link, &:visited{
    color: $black;
    text-decoration: underline;
  }
  &:hover, &:active{
    color: $primary;
    text-decoration: none;
  }
}

%card-shadow{
  box-shadow: 0 0 $gap / 2 rgba( 0, 0, 0, .2);
}

.front {

  padding: $section-gap 0;

  &-header {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100vh;
    &-wrap{
      background: $primary;
      position: relative;
      z-index: -99;
      width: 100%;
      height: 100%;
    }

    // http://html5backgroundvideos.com/pattern-overlays/
    // or vegas js
    &-overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: transparent;
      z-index: 3;
    }

    &-buffer {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      background: $primary;
      z-index: 2;
      transition: opacity .2s ease-in-out;
      .done &{
        opacity: 0;
      }
    }

    &-iframe {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      position: absolute;
      height: 100%;
      z-index: 1;
    }

    &-youtube {
      position: absolute;
      pointer-events: none;
      margin: 0 auto;

      width: 120vw / 9 * 16;
      height: 120vh;
      .vertical{
        width: 200vw;
        height: 200vh / 16 * 9;
      }
    }

    &-title{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate( -50%, -50% );
      z-index: 10;
      padding: $gap;
      font-family: $font-family-monospace;
      font-weight: $font-weight-thin;
      text-align: center;
      color: $white;
      background-color: transparent;
      transition: color 1s ease-in, background-color 1s ease-in;
      @include media-breakpoint-down(sm){
        padding: $gap / 2;
        width: 70%;
        h1{
          font-size: 1.4em;
        }
        blockquote{
          p{
            font-size: 0.7em;
          }
          cite{
            font-size: 0.5em;
          }
        }
      }
      .done &{
        background-color: rgba( 255, 255, 255, .6 );
        color: $primary;
      }
      p{
        margin: 0;
      }
      cite{
        font-size: 0.85em;
        display: block;
      }
    }
  }
  &-nav{
    position: absolute;
    z-index: 9999;
    bottom: 0;
    left: 50%;
    width: 100%;
    transform: translateX( -50% );
    &-list{
      text-align: center;
      padding: 0;
    }
    &-item{
      display: inline-block;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    &-link{
      display: inline-block;
      padding: 1rem;
      transition: color .3s ease-in-out;
      font-family: $font-family-monospace;
      font-weight: $font-weight-thin;
      &:link, &:visited{
        color: #fff;
        text-decoration: none;
      }
      &:hover, &:active{
        color: $warning;
        text-decoration: none;
      }
    }
  }

  &-title{
    font-size: 1.6em;
    font-family: $font-family-monospace;
    font-weight: $font-weight-thin;
    margin-bottom: $gap;
    padding-bottom: 0;
  }

  &-about{

    &-content{
      color: $gray-600;
      h3{
        margin: 1em 0;
        color: $black;
        font-family: $font-family-monospace;
        font-weight: $font-weight-thin;
      }
    }

  }

  &-chiba{
    margin-bottom: $gap;
    &-caption{
      font-size: 11px;
    }
  }

  &-members{
    background-color: $primary;
  }
}

.members{

  &-divider{
    padding: $gap 0;
    i{
      color: $white;
      font-size: 80px;
    }
  }

  &-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: $gap 0;
    padding: 0;
  }

  &-card{
    width: 200px;
    margin: 0 $gap / 4 $gap / 2;
    background-color: $white;
    list-style: none;
    text-align: center;
    @include media-breakpoint-down( sm ) {
      width: 100px;
    }
    &-link{
      display: block;
      padding: $gap $gap / 2;
      @include media-breakpoint-down( sm ) {
        padding: $gap / 2 $gap / 4;
      }
      @extend %card-shadow;
      font-family: $font-family-monospace;
      transition: color .3s ease-in-out, background-color .3s ease-in-out;
      &:link, &:visited{
        text-decoration: none;
        color: $black;
        background-color: transparent;
      }
      &:hover, &:active{
        text-decoration: none;
        background-color: $gray-100;
        color: $link-color;
      }
    }
    &-img{
      width: auto;
      height: auto;
      border-radius: 100%;
      max-width: 100px;
      margin-bottom: $gap / 2;
      @include media-breakpoint-down( sm ) {
        max-width: 60px;
        margin-bottom: $gap / 4;
      }
    }
    &-name{
      display: block;
    }
  }
}

.member{
  &-title{
    color: $white;
  }

  $img-width: 200px;
  margin-bottom: $gap * 2;
  padding: $gap;
  @include media-breakpoint-down( sm ) {
    padding: $gap $gap / 2;
  }
  background-color: $white;
  @extend %card-shadow;
  &-header{
    display: flex;
    align-items: center;
  }
  &:nth-child(even){
  }
  &:nth-child(odd){
  }

  &-photo{
    flex: 0 0 200px;

    @include media-breakpoint-down( sm ) {
      flex: 0 0 80px;
    }
  }

  &-img{
    position: relative;
    width: auto;
    height: auto;
    max-width: 100%;
  }

  &-name{
    font-size: 3rem;
    @include media-breakpoint-down( sm ) {
      font-size: 1.4rem;
    }
    padding: 0 $gap / 2;
    small{
      margin-left: 2em;
      @include media-breakpoint-down( sm ) {
        display: block;
        margin-left: 0;
      }
      color: $gray-700;
      font-size: 1rem;
    }
  }

  &-content{
    padding: 0 0 $gap;
    @include media-breakpoint-down( sm ) {
      font-size: 0.85em;
    }
    &-after{
      content: "";
      display: block;
      height: 0;
      clear: left;
    }
    h4{
      margin: 2em 0 1em;
      font-weight: 300;
      color: $gray-600;
      font-size: 1.4rem;
      &:before{
        content: "— ";
        display: inline;
      }
    }
    h5{
      font-size: 1em;
      color: $gray-600;
      font-weight: bold;
    }
    p{
      line-height: 1.6;
    }
    a{
      @extend %inline-link;
    }
    ul{
      @include media-breakpoint-down( sm ) {
        padding-left: 1em;
      }
      li{
        margin: 1em 0;
      }
    }
    strong{
      font-family: bold;
    }
    em{
      font-family: $font-family-serif;
      font-weight: bold;
    }
    blockquote {
      display: block;
      position: relative;
      padding: 2em;
      font-size: 1.2em;
      @include media-breakpoint-down( sm ) {
        font-size: 1em;
      }
      margin: 2em 0;
      &:before, &:after{
        position: absolute;
        font-size: 80px;
        color: $gray-200;
        font-family: $font-family-serif;
        z-index: 2;
      }
      &:before{
        content: "“";
        top: 0;
        left: 0;
      }
      &:after{
        content: "”";
        bottom: 0;
        right: 0;
      }
      p {
        position: relative;
        z-index: 3;
      }
      p:last-child{
        font-size: 0.85em;
        font-family: $font-family-monospace;
        font-weight: $font-weight-thin;
        &:before{
          content: "— ";
        }
      }
    }
  }

  &-contact{
    position: relative;
    padding-top: 4em;
    &:before{
      position: absolute;
      content: "";
      display: block;
      width: 60px;
      top: -2rem;
      left: 50%;
      transform: translateX(-50%);
      height: 3px;
      background-color: $gray-400;
    }
    a + a{
      margin-left: 1em;
      @include media-breakpoint-down( sm ) {
        margin-left: 0;
      }
    }
    a{
      @include media-breakpoint-down( sm ) {
        display: block;
        width: 100%;
        margin-bottom: 0.25em;
      }
    }
  }
}

.contact{

  &-content{
    margin-bottom: $gap / 2;
    padding-bottom: $gap / 2;
    @include media-breakpoint-down( md ){
      border-bottom: 3px double $gray-200;
    }
    h3{
      font-size: 1em;
      font-weight: bold;
    }

  }

}
