extends _layout

block content
    section.front-header
        .front-header-overlay
        .front-header-buffer
        .front-header-iframe
            #front-youtube.front-header-youtube(data-youtubeurl='Kxms-OtUXS0')
        .front-header-title
            h1 Dead Channel JP
            blockquote.lead
                p "The sky above the port was the color of television, tuned to a dead channel."
                cite —— William Gibson
